<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigeria Today</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../public/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="../public/css/jquery-ui.theme.min.css">
</head>
<body>
    <div class="container">
        <div class="header-div">
            <h1 class="header">Nigeria Today</h1>
            <p class="header-para"><small>News from top news websites in Nigeria</small></p>
        </div>


        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Punch News</a></li>
                <li><a href="#tabs-2">Guardian News</a></li>
                <li><a href="#tabs-3">The Sun News</a></li>
                <li><a href="#tabs-4">Premium Times News</a></li>
                <li><a href="#tabs-5">Aljazeera News</a></li>
                <li><a href="#tabs-6">Sahara Reporters News</a></li>
                <li><a href="#tabs-7">Daily Trust News</a></li>
                <li><a href="#tabs-8">Daily Post News</a></li>
                <li><a href="#tabs-9">Skysports News</a></li>
                <li><a href="#tabs-10">Completesports News</a></li>
                <!-- <li><a href="#tabs-11">Covid-19 Update</a></li> -->
            </ul>

            <div id="tabs-1">
                {{range .PunchNews}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-2">
                {{range .GuardianNews}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-3">
                {{range .SunNews}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-4">
                {{range .PremiumTimesNews}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-5">
                {{range .AlJazeeraNews}}
                <div class="content">
                    <h1><a href="https://www.aljazeera.com{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-6">
                {{range .SaharaNews}}
                <div class="content">
                    <h1><a href="https://www.saharareporters.com{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-7">
                {{range .DailyTrustNews}}
                <div class="content">
                    <h1><a href="https://dailytrust.com{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-8">
                {{range .DailyPostNews}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-9">
                {{range .SkySportsNews}}
                <div class="content">
                    <h1><a href="https://www.skysports.com{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>

            <div id="tabs-10">
                {{range .CompleteSportsNews1}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}

                {{range .CompleteSportsNews2}}
                <div class="content">
                    <h1><a href="{{.NewsLink}}" target="_blank">{{.Heading}} </a></h1>
                    <p>{{.PublishedAt}}</p>
                </div>
                {{end}}
            </div>
<!-- 
            <div id="tabs-11">
                <div class="content">
                    <form method="post">
                        <input type="text" name="country" id="" placeholder="Enter country name"> <br><br>
                        <input type="submit" value="See covid info">
                    </form> <br>
                {{if .CovidCase}}
                    <h1>{{.Country}}</h1>
                    <p>Total Cases: {{.TotalCases}}</p>
                    <p>Today's Cases: {{.TodaysCases}}</p>
                    <p>Total Deaths: {{.TotalDeaths}}</p>
                    <p>Today's Deaths: {{.TodaysDeaths}}</p>
                    <p>Recovered Cases: {{.Recovered}}</p>
                    <p>Active Cases: {{.Active}}</p>
                    <p>Critical Cases: {{.Critical}}</p>
                    <p>Cases per one million: {{.CPM}}</p>
                    <p>Deaths per one million: {{.DPM}}</p>
                    <p>Total Tests: {{.TotalTests}}</p>
                    <p>Tests per one million: {{.TPM}}</p>
                {{end}}
                </div> -->
            </div>
            
        </div>
    </div>

    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/jquery-ui.min.js"></script>

    <script>
        $( "#tabs" ).tabs();
    </script>

</body>
</html>